@import 'medias.scss';

.sign {
	margin: 147px 0 135px 0;
	.wrapper{
		width:95%;
		margin: 0 auto;
		.h {
			text-align: center;
			margin:0 20px;
			h2 {
				text-transform: uppercase;
				margin-bottom:22px;
				font-size:36px;
				font-weight: bold;
				color: #303030;
			}
			h3 {
				font-family: georgia;
				font-style: italic;
				font-size:18px;
				margin-bottom:54px;
				color: #606060;
			}
			@include responsive(0,750px) {
				text-align: center;
				margin:70px 20px;
				h2 {
					font-size:30px;
					line-height: 1.5;
				}
				h3 {
					font-size:18px;
					line-height: 1.5;
				}
			}
		}	
	

		form {
			text-align:center;
			font-size:0;
			input {
				display:inline-block;
				height:57px;
				font-size:14px;
				font-style: italic;
				border: 1px solid #CCC;
				&.email {
					width:475px;
					border-right:none;
					padding-left:15px;
					@include responsive(0,750px) {
						width:70%;
						font-size:18px;
					}		
				}
				&.add {
					vertical-align:top;
					width:97px;
					-webkit-appearance: none;
					border-radius:0;
					background:#f68236;
					color:#FFF;
					@include responsive(0,750px) {
						width:30%;
						font-size:18px;
					}	
				}
				
			}
		}
	}
	@include responsive(0,750px) {
		margin: 80px 0;
	}	
}