.breadcrumbs {
	text-transform:uppercase;
	font-size:12px;
	width:100%;
	margin-top:30px;
	.wrapper {
		width:95%;	
		margin: 0 auto;
		ul {
			
			li {
				display:inline-block;
				padding:0 13px;
				a {

					text-decoration:none;
					color:#606060;
				}
				&:first-child {
					padding-left:0;
				}
			}
		}
	}	
}