@import 'medias.scss';

footer {
	width:calc(100% - 64px);
	display:inline-block;
	text-align:left;
	margin:30px 32px 55px 32px;
	position:relative;
	.footer-list{
	    margin-top:30px
	}
	dl {
		padding-left: 20px;
		display:inline-block;
		text-align:left;
		width:22%;
		height:165px;
		vertical-align: top;
		color: #303030;
		border-right: 1px solid #eaeaea;
		dt {
			text-transform:uppercase;
			font-weight: bold;
			line-height: 30px;
			font-size:14px;	
			@include responsive(0,750px) {
				font-size:18px;
			}
		}
		dd {
			line-height: 25px;
			font-size: 12px;
			a {
				color: #303030;
				text-decoration: none;	
			}
			@include responsive(0,750px) {
				display:none;	
			}
		}
		p {
			vertical-align: middle;
			display: inline-block;
			border: 1px solid #606060;
			box-sizing:border-box;
			width: 32px;
			height: 32px;
			text-align: center;
			padding: 9px 0;
			font-size: 14px;
			margin-right: 2px;
			a {
				color: #606060;
			}
		}
		&:first-child {
			padding-left: 0;
			@include responsive(0,750px) {
				margin-right:10px;
			}
		}
		&:last-child {
			border: none;	
		}
		@include responsive(0,750px) {
			border:none;
			margin:0;	
			padding:0;
			width:70%;
			height:auto;
			dd {
				
				font-size:16px;
			}
			p {
				display:inline-block;
			}
		}
	}
}