.grid {
	margin-top:70px;
	width: 100%;
	.wrapper {
		width:95%;
		margin:0 auto;
		text-align:center;
		h1 {
			text-transform:uppercase;
			font-size:36px;
			font-weight: bold;
			margin-bottom:22px;
		}
		a {
			font-family: georgia;
			font-style: italic;
			color:#bfbfbf;
			font-size:18px;
		}
		.fa {
			font-size:10px;
		}
		ul {
			
			li {
				margin:63px 10px 33px 10px;
				display: inline-block;
				border:1px solid black;
				width:206px;
				height:256px;
				&:first-child {
					margin-left:0;
				}
				&:last-child {
					margin-right:0;
				}
			}
			h3 {
				
			}	
			p {
				
			}
		}
	}
}