section {
	width: 100%;
	.wrapper {
		width:1180px;
		text-align:center;
		h1 {
			
		}
		a {
			
			color:#bfbfbf;
		}
		ul {
		
			li {
				display: inline-block;
				border:1px solid black;
				width:206px;
				height:256px;
				margin: 206px 56px;

				&:first-child {
					margin-left:0;
				}
				&:last-child {
					margin-right:0;
				}
			}	
		}
	}
}