@import 'medias.scss';
.intro {
	.wrapper {
		width:95%;
		margin: 0 auto;
		.h {
			text-align: center;
			margin: 150px auto;
			
			h1 {
				color:#303030;
				text-transform: uppercase;
				font-size: 72px;
				margin-bottom:37px;
			}
			h3 {
				font-family: georgia;
				font-style: italic;
				font-size: 24px;
				color:#606060;
				margin-bottom: 69px;
			}
			a {
				text-transform: uppercase;
				font-size: 14px;
				color:#303030;
				width: 230px;
			    height: 60px;    
			    padding: 24px 34px;
			    border: 1px solid #959595;
				box-sizing:border-box;
				text-decoration: none;
				display:inline-block;
					@include responsive(0,400px) {
					width: 231px;
				    height: 50px;  
				    font-size: 14px;
				    padding: 16px;
				    margin-left:-19px
				}	
			}			
		}
	}	
}

@include responsive(0,750px) {
	.intro {			
		.wrapper {
			.h {
				text-align: center;
				margin:70px 20px;
				h1 {
					font-size:40px;
					line-height: 1.5;
				}
				h3 {
					font-size:18px;
					line-height: 1.5;
				}
				a {}

			}
		}
	}
}
