@import 'menu.scss';
@import 'reset.scss';
@import 'grid.scss';
@import 'intro.scss';
@import 'sign.scss';
@import 'footer.scss';
@import 'slider.scss';
@import 'gridpage.scss';
@import 'menupage.scss';
html {
	background: #e5e5e5;
	width: 1280px;   
	margin: 60px 155px 60px 155px; 
}
body {
	background: #fff;
	font-family: lato, sans-serif;
	font-size:14px;
	height:2356px;
}
