@import 'menu.scss';
@import 'reset.scss';
@import 'grid.scss';
@import 'intro.scss';
@import 'sign.scss';
@import 'footer.scss';
@import 'slider.scss';
@import 'gridpage.scss';
@import 'menupage.scss';
@import 'breadcrumbs.scss';
@import 'sliderpage.scss';
@import 'medias.scss';
@import 'men.scss';
@import 'slider-hero.scss';
/*@import 'teste-slick.scss';*/

@mixin responsive($smallerValue,$biggerValue) {
  @media (min-width: $smallerValue) and (max-width: $biggerValue) {
    @content;
  }
}

html {
	background: #e5e5e5;
	width: 100%;   
	@include responsive(0,750px) {
		margin:0;
	}
}
body {
	background: #fff;
	font-family: 'Lato', sans-serif;
	font-size:14px;
	height:100%;
	width:92%;
	margin:62px auto;
	@include responsive(0,900px) {
		
	}
	@include responsive(0,750px) {
		margin:0 auto;
		
	}
}
textarea, input, button { outline:none; border:none;}
