@import 'menu.scss';
@import 'reset.scss';
@import 'grid.scss';
@import 'intro.scss';
@import 'sign.scss';
@import 'footer.scss';
@import 'slider.scss';
@import 'gridpage.scss';
@import 'menupage.scss';
html {
	background: #e5e5e5;
	width: 100%;   
	margin: auto;
}
body {
	background: #fff;
	font-family: lato, sans-serif;
	font-size:14px;
	height:100%;
	width:85%;
	margin:62px auto;
}
