@mixin responsive($smallerValue,$biggerValue) {
  @media (min-width: $smallerValue) and (max-width: $biggerValue) {
    @content;
  }
}

header {
	width: 100%;
	.wrapper {
		width:95%;
		margin:0 auto;
		nav {
			height:100%;
			width: 100%;
			border-bottom:1px solid #e5e5e5;
			padding: 54px 0 54px 0;
			
			.basic{
				float: left;
				display: block;				
				ul {
					li {
						font-size: 15px;
						display: inline-block;
						margin-right:40px;
						.burger {
							background:#cecece;
							width:20px;
							height:20px;
							span {
								color: #ccc;
							}
						}
						a{
							text-decoration: none;
							color: #303030;
							padding:14px;							
							&:hover {
								color:#fff;
								background:#222;
							}	
						}
						&:last-child {
							margin-right:0;
						}
						@include responsive(0,600px) {
						width: 100%;
						background:#cecece;
					}
					}
				}
			}
			.personal{
				display: block;
				float:right;
				a {
					margin: 25px;
					font-size: 14px;
					text-decoration:none;
					color: #303030;
					span {
						color: #f68236;
					}
				}						
				form {
					font-size: 0;
					float: right;
					margin-top:-16px;
					input {
						width:0;
						font-style: italic;
						transition: all 0.5s ease-in-out;
					}
					button {
						border: 1px solid #959595;
						background: #fff;
						-webkit-appearance: none;
	   					border-radius: 0;
						text-decoration:none;
						color: #606060;
						.fa {
							display: inline-block;
							padding: 14px 7px 6px 7px;
							font-size: 18px;
						}
					}
					&:hover {
						input {
							width:150px;
							margin-left:15px;
							display:inline-block;
							padding: 18px 15px 8px 10px;
							font-size:12px;
							border: 1px solid #959595;	
							border-right: none;
						}
						button {
							background: #606060;
							color: #fff;
						}
					}
				}
			}
		}
	}
}
