@import 'medias.scss';

header {
	width: 100%;
	.wrapper {
		width:95%;
		margin:0 auto;
		nav {
			height:100%;
			width: 100%;
			border-bottom:1px solid #e5e5e5;
			padding: 45px 0 54px 0;				
			.burger {
				display:none;
				float: right;
				cursor: pointer;	
				margin-top: -8px;
				margin-bottom: 2px;			
				a {
					span {
						display:block;						
						background:black;  
						width:40px;
						height:5px;
						border-radius:2px;
						margin: 8px 0;						
					}
					&:before {
						content:'';
						display:block;						
						background:black;  
						width:40px;
						height:5px;
						border-radius:2px;
					}					
					&:after {
						content:'';							
						display:block;						
						background:black;  
						width:40px;
						height:5px;
						border-radius:2px;
					}
				}
				@include responsive(0,900px) {
					display:block;
				}	
				@include responsive(0,700px) {
					display:block;
				}		
			}		
			.basic{
				float: left;
				display: block;
				ul {

					width:100%;
					li {
						font-size: 15px;
						display: inline-block;
						margin-right:20px;
						
						a{
							text-decoration: none;
							color: #303030;
							padding:14px;
							&:hover {
								color:#fff;
								background:#303030;
							}
							@include responsive(0,700px) {
								width:100%;
								display:block;
							}								
						}
						&:last-child {
							margin-right:0;
						}
						
						@include responsive(0,700px) {
							width:100%;
							background:#cecece;
							padding:10px 0;
							text-align:center;
							font-size:20px;
							display:block;
							top:10px;
						}
					}
				}
				@include responsive(0,700px) {
					width:100%;
					display:none;
				}	
			}
			.personal{
				display: block;
				float:right;
				a {
					margin-right: 20px;
					font-size: 14px;
					text-decoration:none;
					color: #303030;
					span{
						&:hover {
							color:#f68236
						}
					}
					@include responsive(0,700px) {
						font-size:20px;
						display:block;
						text-align:left;
						padding:16px 13px;
						margin:0;
						margin-bottom: 25px;
						text-align: center;
					}
				}				
				form {
					font-size: 0;
					float: right;
					margin-top:-14px;
					right:0;
					input {
						width:0;			    
						border: 1px solid #959595;	
						border-right:none;
						font-style: italic;
						transition: all 0.5s ease-in-out;
					}
					button {
						border: 1px solid #959595;
						background: #fff;
						-webkit-appearance: none;
	   					border-radius: 0;
						text-decoration:none;
						color: #606060;
						margin-left:-2px;
						i {
							display: inline-block;
							font-size: 18px;
							padding: 9px 5px 0px 5px;
						    height: 37px;
						    width: 30px;
						}
					}
					&:hover {
						input {
							height: 41px;
							padding: 20px 1px 17px 5px;	
							width:160px;
							display:inline-block;
							font-size:12px;
							border: 1px solid #959595;	
							border-right: none;
						}
						button {
							background: #606060;
							color: #fff;
						}
					}
					@include responsive(0,700px) {
						width:100%;
						text-align:center;
						margin: 10px;
					}
				}				
				@include responsive(0,900px) {
					display:none;
				}
				@include responsive(0,700px) {
					left:90%;
					height:auto;
					width: 100%;
					top:-20px;
					font-size:30px;
					margin-bottom: 40px;
					background:#cecece;
					padding:0 14px;
					text-align:center;
					font-size:20px;
					display:none;
				}	
			}				
		}
	}
}

