@mixin responsive($smallerValue,$biggerValue) {
  @media (min-width: $smallerValue) and (max-width: $biggerValue) {
    @content;
  }
}

.slider {	
	margin-bottom:48px;
	width:100%;
	.wrapper {
		width:95%;
		margin:0 auto;
		position: relative;
		.left {
			display: inline-block;	
			height: 119px;
		    position: absolute;
		    color: #ffffff;
		    font-size: 30px;
		}
		ul {	
			width:100%;
			height:119px;
			background-color:#bbbbbb;
			li {
				display:inline-block;
				height: 100px;
				width: 180px;
				overflow: hidden;
				img {
					height: 90px;
					display:block;
					padding: 15px 19px;
				}
			}
			@include responsive(0,750px) {
				height:160px;	
			}
		}
		.right {
			right: 0;
			top: 0;
			display: inline-block;	
			height: 119px;
		    position: absolute;
		    color: #ffffff;
		    font-size: 30px;
		}
	}
}		