@import 'medias.scss';

.slider {
  	height:400px;
	.wrapper {
	    width: 95%;
	    height:240px;
	    margin: 0 auto;
	    position: relative;
	    .lookbook {
			border-top:1px solid #e5e5e5;
			h3 {
				margin-bottom: 30px;
				text-align: center;
				font-size: 24px;
				font-family: 'Georgia';
				font-style: italic;
				color: #606060;
			}
		}
		.lookbook {
			.content {
				margin-top: 50px; 
				margin-bottom: 50px; 
			}
		}
		.slider-container{
			height: 290px;
			background-color: #bbb;
			padding: 10px 25px 10px 25px;
			@include responsive(0,399px) {
				height: 410px;
			}
			.slick-prev,
			.slick-next{
				font-size: 30px;
				margin-top: 0px;
				text-align: center;
				@include responsive(0,399px) {
					height: 410px;
				}
				height: 290px;
				background: #eee;
			}
			.slick-prev:before{
				margin-left: 5px;
				content:'<';
				color:#ffffff;
			}
			.slick-next:before {
				margin-left: 5px;
				content:'>';
				color: #ffffff;
			}
			.slider-images {
				div{
					width: 100%;
					height: 270px;
					overflow: hidden;
					
					img{
						@include responsive(0,399px) {
							width: 100% !important;
							//padding: 0 30px 0 30px
						}
						width: 98% !important;
						margin-left: 0 !important;
					}
					
					@include responsive(0,950px) {
						&:nth-child(2n+0) {
							display:none;
						}
					}
					@include responsive(0,500px) {
						&:nth-child(3n+0) {
							display:none;
						}
					}
					@include responsive(0,400px) {
						height: 250px;
					}
					@include responsive(0,399px) {
						height: 390px;
					}
				}
			}
	    }
	    .more-clothes {
	    	margin: 35px 0;
	    	display:block;
	    	text-align:center;
	    	background: #e5e5e5;
	    	text-transform:uppercase;
	    	padding:15px;
	    	a {
	    		text-decoration:none;
	    		font-family: 'Lato', sans-serif;
				font-size: 14px;
				color:#606060;
	    	}
	    }
	}
}