@mixin responsive($smallerValue,$biggerValue) {
  @media (min-width: $smallerValue) and (max-width: $biggerValue) {
    @content;
  }
}

.hero {	
	margin-bottom:48px;
	width:100%;
	height: 1090px;
	.wrapper {
		width:95%;
		margin:0 auto;
		
		.slider-hero {
			position: relative;
			height: 590px;
			width: 90%;
			img {
				top: 30px;
				position: absolute;
				left: 50%;
				transform:translate(-50%);
			}
		}
		.mini-hero {
			position: absolute;
			img {

			}   
		}
	}
}		