@import 'medias.scss';

.slider {
	.wrapper {
	    width: 95%;
	    height: 240px;
	    margin: 0 auto;
	    position: relative;
	    .left {
	    	position:absolute;
	     	height: 180px;
	      	color: #fff;
	      	background: #eee;
	      	font-size: 30px;
	      	z-index:4;
	    }
	    .right {
		    height: 180px;
		    position:absolute;
		    right:0;
		    z-index:4;
		    color: #ffffff;
		    font-size: 30px;
		    background: #eee;
	  	}
	    .slider-images {
		    height: 180px;
		    width: 100%;
		    list-style: none;		  
		    background-color: #bbb;
	      	li {
	       		float:left;
	        	overflow: hidden;
	        	height: 180px;
	        	width: 19%;
	       		img {
		        	width:100%;
		        	margin:10px;	
		        }
		        &:first-child {
						margin-left:25px;
					}
		        @include responsive(0,950px) {
					width: 30%;
					
					&:nth-child(2n+0) {
						display:none;
					}
				}
				@include responsive(0,500px) {
					width: 43%;
					
					&:nth-child(3n+0) {
						display:none;
					}
				}
				@include responsive(0,400px) {
					width:100%;
					margin:auto;
					&:nth-child(3n+1) {
						display:none;						
					}
				}
	      	}
	    }
	}
}