header {
	position: absolute;
	width: 100%;
	top: 30px;
	.wrapper {
		max-width: 1280px;
		width: 100%;
		margin: 0 auto;
		nav {
			ul {
				text-align: center;
				font-size: 0;
				li {
					text-transform: uppercase;
					display: inline-block;
					margin: 0px 20px;
					vertical-align: middle;
					font-size: 13px;
					a {
						text-decoration: none;
						color: #4d4959;
						&:hover {
              				color:#64c29e;
						}
						&.logo {
			              display: block;
			              margin: 0 20px 0 20px;
			            }
					}
					&:first-child {
			            margin-right: 20px;
			            &:after {
			              content:'.';
			            }
			          }
			          &:last-child {
			            margin-left: 20px;
			            &:before {
			              content:'.';
			        	}
			        }
				}
			}
		}
	}
}

