footer {
  display: inline-block;
  text-align: left; }
  footer dl {
    display: inline-block;
    text-align: left;
    max-height: 162px;
    width: 300px;
    vertical-align: top;
    font-size: 12px; }
    footer dl dt {
      text-transform: uppercase;
      font-weight: bold;
      line-height: 25px; }
      footer dl dt dd {
        line-height: 20px; }
        footer dl dt dd p {
          vertical-align: center; }
          footer dl dt dd p a {
            border: 1px solid #606060;
            box-sizing: border-box; }
    footer dl:first-child {
      margin-left: 32px; }
    footer dl:last-child {
      margin-right: 32px; }
