.grid {
  margin-top: 70px;
  width: 100%; }
  .grid .wrapper {
    width: 95%;
    margin: 0 auto;
    text-align: center; }
    .grid .wrapper h1 {
      text-transform: uppercase;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 22px; }
    .grid .wrapper a {
      font-family: georgia;
      font-style: italic;
      color: #bfbfbf;
      font-size: 18px; }
    .grid .wrapper .fa {
      font-size: 10px; }
    .grid .wrapper ul li {
      margin: 63px 10px 33px 10px;
      display: inline-block;
      border: 1px solid black;
      width: 206px;
      height: 256px; }
      .grid .wrapper ul li:first-child {
        margin-left: 0; }
      .grid .wrapper ul li:last-child {
        margin-right: 0; }
