header {
  width: 100%; }
  header .wrapper {
    width: 95%;
    margin: 0 auto; }
    header .wrapper nav {
      height: 116px;
      width: 100%;
      border-bottom: 1px solid #e5e5e5;
      padding: 54px 0 54px 0; }
      header .wrapper nav .basic {
        float: left;
        display: block; }
        header .wrapper nav .basic ul li {
          font-size: 15px;
          display: inline-block;
          margin: 0 21px; }
          header .wrapper nav .basic ul li a {
            text-decoration: none;
            color: #303030;
            padding: 14px; }
            header .wrapper nav .basic ul li a:hover {
              color: #fff;
              background: #222; }
          header .wrapper nav .basic ul li:first-child {
            margin-left: 0; }
      header .wrapper nav .personal {
        display: block;
        float: right; }
        header .wrapper nav .personal ul {
          font-size: 0; }
          header .wrapper nav .personal ul li {
            display: inline-block;
            font-size: 15px;
            margin: 0 25px; }
            header .wrapper nav .personal ul li a {
              text-decoration: none;
              color: #303030; }
            header .wrapper nav .personal ul li:last-child {
              width: 32px;
              height: 32px;
              border: 1px solid #606060;
              box-sizing: border-box;
              margin-right: 0;
              text-align: center;
              line-height: 32px; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

strong {
  font-weight: 700; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

em {
  font-style: italic; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

section {
  width: 100%; }
  section .wrapper {
    width: 95%;
    margin: 0 auto; }
    section .wrapper .grid {
      width: 100%;
      height: 100%;
      font-size: 0; }
      section .wrapper .grid .coll {
        width: 295px;
        height: 100%;
        display: inline-block;
        vertical-align: top;
        font-size: 20px; }
        section .wrapper .grid .coll article {
          width: 295px;
          height: 295px;
          display: block; }
        section .wrapper .grid .coll:nth-child(1) article:nth-child(1) {
          background: #d2d2d2;
          height: 590px; }
        section .wrapper .grid .coll:nth-child(1) article:nth-child(2) {
          background: #c2c2c2;
          height: 295px; }
        section .wrapper .grid .coll:nth-child(2) article:nth-child(1) {
          background: #bbb;
          height: 295px; }
        section .wrapper .grid .coll:nth-child(2) article:nth-child(2) {
          background: #cacaca;
          height: 295px; }
        section .wrapper .grid .coll:nth-child(2) article:nth-child(3) {
          background: #606060;
          height: 295px; }
        section .wrapper .grid .coll:nth-child(3) article:nth-child(1) {
          background: #dbdbdb;
          height: 295px; }
        section .wrapper .grid .coll:nth-child(3) article:nth-child(2) {
          background: #bbb;
          height: 295px; }
        section .wrapper .grid .coll:nth-child(3) article:nth-child(3) {
          background: #d0d0d0;
          height: 295px; }
        section .wrapper .grid .coll:nth-child(4) article:nth-child(1) {
          background: #606060;
          height: 295px; }
        section .wrapper .grid .coll:nth-child(4) article:nth-child(2) {
          background: #d7d7d7;
          height: 590px; }

.intro .wrapper {
  width: 95%;
  margin: 0 auto; }
  .intro .wrapper .h {
    text-align: center;
    margin: 150px 0; }
    .intro .wrapper .h h1 {
      color: #303030;
      text-transform: uppercase;
      font-size: 72px;
      margin-bottom: 37px; }
    .intro .wrapper .h h3 {
      font-family: georgia;
      font-style: italic;
      font-size: 24px;
      color: #606060;
      margin-bottom: 69px; }
    .intro .wrapper .h a {
      text-transform: uppercase;
      font-size: 14px;
      color: #303030;
      width: 230px;
      height: 60px;
      padding: 27px 34px;
      border: 1px solid #959595;
      box-sizing: border-box;
      text-decoration: none;
      display: inline-block; }

.sign {
  margin: 147px 0 135px 0; }
  .sign .wrapper {
    width: 95%;
    margin: 0 auto; }
    .sign .wrapper .h {
      text-align: center; }
      .sign .wrapper .h h2 {
        text-transform: uppercase;
        margin-bottom: 22px;
        font-size: 36px;
        font-weight: bold;
        color: #303030; }
      .sign .wrapper .h h3 {
        font-family: georgia;
        font-style: italic;
        font-size: 18px;
        margin-bottom: 54px;
        color: #606060; }
    .sign .wrapper form {
      text-align: center; }
      .sign .wrapper form input {
        display: inline-block;
        height: 57px;
        font-size: 14px;
        font-style: italic;
        border: 1px solid #CCC; }
        .sign .wrapper form input.email {
          width: 475px;
          border-right: none;
          padding-left: 15px; }
        .sign .wrapper form input.add {
          width: 97px;
          -webkit-appearance: none;
          border-radius: 0;
          background: #f68236;
          color: #FFF; }

footer {
  width: 100%;
  display: inline-block;
  text-align: left;
  margin: 0 32px 55px 32px; }
  footer dl {
    padding-left: 20px;
    display: inline-block;
    text-align: left;
    height: 162px;
    width: 300px;
    vertical-align: top;
    color: #303030;
    border-right: 1px solid #eaeaea; }
    footer dl dt {
      text-transform: uppercase;
      font-weight: bold;
      line-height: 30px;
      font-size: 14px; }
    footer dl dd {
      line-height: 25px;
      font-size: 12px; }
      footer dl dd a {
        text-decoration: none; }
    footer dl p {
      vertical-align: middle;
      display: inline-block;
      border: 1px solid #606060;
      box-sizing: border-box;
      width: 32px;
      height: 32px;
      text-align: center;
      padding: 9px 0;
      font-size: 14px;
      margin-right: 8px; }
      footer dl p a {
        color: #606060; }
    footer dl:first-child {
      padding-left: 0; }
    footer dl:last-child {
      border: none; }

.slider {
  margin-bottom: 48px;
  width: 100%; }
  .slider .wrapper {
    width: 95%;
    margin: 0 auto; }
    .slider .wrapper ul {
      width: 100%;
      height: 119px;
      background-color: #bbbbbb; }
      .slider .wrapper ul li {
        display: inline-block; }

.gridpage {
  margin-top: 70px;
  width: 100%;
  text-align: center; }
  .gridpage .wrapper {
    width: 95%;
    margin: 0 auto; }
    .gridpage .wrapper h1 {
      text-transform: uppercase;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 22px; }
    .gridpage .wrapper a {
      font-family: georgia;
      font-style: italic;
      color: #bfbfbf;
      font-size: 18px; }
      .gridpage .wrapper a .fa {
        font-size: 10px; }
    .gridpage .wrapper .list {
      width: 100%;
      height: 463px; }
      .gridpage .wrapper .list ul li {
        margin: 63px 40px 33px 40px;
        display: inline-block;
        width: 206px;
        height: 333px; }
        .gridpage .wrapper .list ul li .li_container {
          border: 1px solid #e5e5e5;
          width: 206px;
          height: 257px; }
        .gridpage .wrapper .list ul li:first-child {
          margin-left: 0; }
        .gridpage .wrapper .list ul li:last-child {
          margin-right: 0; }
        .gridpage .wrapper .list ul li .details {
          color: #303030;
          margin-top: 33px; }
          .gridpage .wrapper .list ul li .details h4 {
            font-weight: bold;
            line-height: 2; }

header {
  width: 100%; }
  header .wrapper {
    width: 95%;
    margin: 0 auto; }
    header .wrapper nav {
      height: 116px;
      width: 100%;
      border-bottom: 1px solid #e5e5e5;
      padding: 54px 0 54px 0; }
      header .wrapper nav .basic {
        float: left;
        display: block; }
        header .wrapper nav .basic ul li {
          font-size: 15px;
          display: inline-block;
          margin: 0 21px; }
          header .wrapper nav .basic ul li a {
            text-decoration: none;
            color: #303030;
            padding: 14px; }
            header .wrapper nav .basic ul li a:hover {
              color: #fff;
              background: #222; }
          header .wrapper nav .basic ul li:first-child {
            margin-left: 0; }
      header .wrapper nav .personal {
        display: block;
        float: right; }
        header .wrapper nav .personal ul {
          font-size: 0; }
          header .wrapper nav .personal ul li {
            display: inline-block;
            font-size: 15px;
            margin: 0 25px; }
            header .wrapper nav .personal ul li a {
              text-decoration: none;
              color: #303030; }
            header .wrapper nav .personal ul li:last-child {
              width: 32px;
              height: 32px;
              border: 1px solid #606060;
              box-sizing: border-box;
              margin-right: 0; }

.breadcrumbs {
  text-transform: uppercase;
  font-size: 12px;
  width: 100%;
  margin-top: 30px; }
  .breadcrumbs .wrapper {
    width: 95%;
    margin: 0 auto; }
    .breadcrumbs .wrapper ul li {
      display: inline-block;
      padding: 0 13px; }
      .breadcrumbs .wrapper ul li a {
        text-decoration: none;
        color: #606060; }
      .breadcrumbs .wrapper ul li:first-child {
        padding-left: 0; }

html {
  background: #e5e5e5;
  width: 100%;
  margin: auto; }

body {
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  height: 100%;
  width: 85%;
  margin: 62px auto; }

textarea, input, button {
  outline: none;
  border: none; }
