header {
  width: 100%; }
  header .wrapper {
    width: 95%;
    margin: 0 auto; }
    header .wrapper nav {
      height: 100%;
      width: 100%;
      border-bottom: 1px solid #e5e5e5;
      padding: 54px 0 54px 0; }
      header .wrapper nav .basic {
        float: left;
        display: block; }
        header .wrapper nav .basic ul {
          width: 100%; }
          header .wrapper nav .basic ul li {
            font-size: 15px;
            display: inline-block;
            margin-right: 30px; }
            header .wrapper nav .basic ul li a {
              text-decoration: none;
              color: #303030;
              padding: 14px; }
              header .wrapper nav .basic ul li a:hover {
                color: #fff;
                background: #303030; }
              @media (min-width: 0) and (max-width: 700px) {
                header .wrapper nav .basic ul li a {
                  width: 100%;
                  display: block; } }
            header .wrapper nav .basic ul li:last-child {
              margin-right: 0; }
            @media (min-width: 0) and (max-width: 700px) {
              header .wrapper nav .basic ul li {
                width: 100%;
                background: #cecece;
                padding: 10px 0;
                text-align: center;
                font-size: 20px;
                display: block;
                top: 10px; } }
        @media (min-width: 0) and (max-width: 700px) {
          header .wrapper nav .basic {
            width: 100%; } }
      header .wrapper nav .personal {
        display: block;
        float: right; }
        header .wrapper nav .personal a {
          margin: 25px;
          font-size: 14px;
          text-decoration: none;
          color: #303030; }
          header .wrapper nav .personal a span {
            color: #f68236; }
          @media (min-width: 0) and (max-width: 700px) {
            header .wrapper nav .personal a {
              font-size: 20px;
              display: block;
              text-align: left;
              padding: 16px 13px;
              margin: 0;
              margin-bottom: 25px;
              text-align: center; } }
        header .wrapper nav .personal form {
          font-size: 0;
          float: right;
          margin-top: -16px; }
          header .wrapper nav .personal form input {
            width: 0;
            font-style: italic;
            transition: all 0.5s ease-in-out; }
          header .wrapper nav .personal form button {
            border: 1px solid #959595;
            background: #fff;
            -webkit-appearance: none;
            border-radius: 0;
            text-decoration: none;
            color: #606060; }
            header .wrapper nav .personal form button .fa {
              display: inline-block;
              padding: 14px 7px 6px 7px;
              font-size: 18px; }
          header .wrapper nav .personal form:hover input {
            width: 150px;
            margin-left: 15px;
            display: inline-block;
            padding: 19px 15px 7px 10px;
            font-size: 12px;
            border: 1px solid #959595;
            border-right: none; }
          header .wrapper nav .personal form:hover button {
            background: #606060;
            color: #fff; }
          @media (min-width: 0) and (max-width: 700px) {
            header .wrapper nav .personal form {
              width: 100%;
              text-align: center;
              display: block;
              margin: 10px; } }
        @media (min-width: 0) and (max-width: 900px) {
          header .wrapper nav .personal {
            display: none; } }
        @media (min-width: 0) and (max-width: 700px) {
          header .wrapper nav .personal {
            display: block;
            width: 100%;
            background: #cecece;
            font-size: 30px;
            margin-bottom: 40px; } }
      header .wrapper nav .burger {
        display: block;
        position: relative;
        background: none;
        left: 0;
        cursor: pointer; }
        header .wrapper nav .burger a {
          position: absolute;
          left: 0px;
          top: 10px; }
          header .wrapper nav .burger a:before {
            content: '';
            left: 0;
            top: 0px;
            display: block;
            position: absolute;
            background: black;
            width: 40px;
            height: 5px;
            border-radius: 2px; }
          header .wrapper nav .burger a span {
            left: 0;
            top: 14px;
            display: block;
            position: absolute;
            background: black;
            width: 40px;
            height: 5px;
            border-radius: 2px; }
          header .wrapper nav .burger a:after {
            content: '';
            left: 0;
            bottom: -33px;
            display: block;
            position: absolute;
            background: black;
            width: 40px;
            height: 5px;
            border-radius: 2px; }
        @media (min-width: 0) and (max-width: 700px) {
          header .wrapper nav .burger {
            width: 0;
            top: -50px;
            background: #cecece;
            padding: 0 14px;
            text-align: center;
            font-size: 20px;
            display: block; } }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

strong {
  font-weight: 700; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

em {
  font-style: italic; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.grid .wrapper {
  width: 95%;
  margin: 0 auto;
  font-size: 0; }
  .grid .wrapper .coll {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    width: 25%; }
    @media (min-width: 0) and (max-width: 900px) {
      .grid .wrapper .coll {
        width: 50%;
        margin: 0; } }
    @media (min-width: 0) and (max-width: 600px) {
      .grid .wrapper .coll {
        width: 100%;
        height: 300px; } }
    .grid .wrapper .coll article {
      height: 293px;
      display: block; }
      .grid .wrapper .coll article h1 {
        text-transform: uppercase;
        display: block;
        padding-top: 50%;
        color: #fff; }
    .grid .wrapper .coll:nth-child(1) article:nth-child(1) {
      background: #d2d2d2;
      height: 586px; }
    .grid .wrapper .coll:nth-child(1) article:nth-child(2) {
      background: #c2c2c2;
      height: 293px; }
    .grid .wrapper .coll:nth-child(2) article:nth-child(1) {
      background: #bbb;
      height: 293px; }
    .grid .wrapper .coll:nth-child(2) article:nth-child(2) {
      background: #cacaca;
      height: 293px; }
    .grid .wrapper .coll:nth-child(2) article:nth-child(3) {
      background: #606060;
      height: 293px; }
    .grid .wrapper .coll:nth-child(3) article:nth-child(1) {
      background: #dbdbdb;
      height: 293px; }
    .grid .wrapper .coll:nth-child(3) article:nth-child(2) {
      background: #bbb;
      height: 293px; }
    .grid .wrapper .coll:nth-child(3) article:nth-child(3) {
      background: #d0d0d0;
      height: 293px; }
    @media (min-width: 0) and (max-width: 900px) {
      .grid .wrapper .coll:nth-child(3) article {
        display: none; } }
    .grid .wrapper .coll:nth-child(4) article:nth-child(1) {
      background: #606060;
      height: 293px; }
    .grid .wrapper .coll:nth-child(4) article:nth-child(2) {
      background: #d7d7d7;
      height: 586px; }
    @media (min-width: 0) and (max-width: 900px) {
      .grid .wrapper .coll:nth-child(4) article {
        display: none; } }

.intro .wrapper {
  width: 95%;
  margin: 0 auto; }
  .intro .wrapper .h {
    text-align: center;
    margin: 150px 0; }
    .intro .wrapper .h h1 {
      color: #303030;
      text-transform: uppercase;
      font-size: 72px;
      margin-bottom: 37px; }
    .intro .wrapper .h h3 {
      font-family: georgia;
      font-style: italic;
      font-size: 24px;
      color: #606060;
      margin-bottom: 69px; }
    .intro .wrapper .h a {
      text-transform: uppercase;
      font-size: 14px;
      color: #303030;
      width: 230px;
      height: 60px;
      padding: 24px 34px;
      border: 1px solid #959595;
      box-sizing: border-box;
      text-decoration: none;
      display: inline-block; }

@media (min-width: 0) and (max-width: 750px) {
  .intro .wrapper .h {
    text-align: center;
    margin: 70px 20px; }
    .intro .wrapper .h h1 {
      font-size: 40px; }
    .intro .wrapper .h h3 {
      font-size: 18px; } }

.sign {
  margin: 147px 0 135px 0; }
  .sign .wrapper {
    width: 95%;
    margin: 0 auto; }
    .sign .wrapper .h {
      text-align: center;
      margin: 0 20px; }
      .sign .wrapper .h h2 {
        text-transform: uppercase;
        margin-bottom: 22px;
        font-size: 36px;
        font-weight: bold;
        color: #303030; }
      .sign .wrapper .h h3 {
        font-family: georgia;
        font-style: italic;
        font-size: 18px;
        margin-bottom: 54px;
        color: #606060; }
    .sign .wrapper form {
      text-align: center;
      font-size: 0; }
      .sign .wrapper form input {
        display: inline-block;
        height: 57px;
        font-size: 14px;
        font-style: italic;
        border: 1px solid #CCC; }
        .sign .wrapper form input.email {
          width: 475px;
          border-right: none;
          padding-left: 15px; }
        .sign .wrapper form input.add {
          vertical-align: top;
          width: 97px;
          -webkit-appearance: none;
          border-radius: 0;
          background: #f68236;
          color: #FFF; }

footer {
  width: 100%;
  display: inline-block;
  text-align: left;
  margin: 0 32px 55px 32px; }
  footer dl {
    padding-left: 20px;
    display: inline-block;
    text-align: left;
    height: 162px;
    width: 288px;
    vertical-align: top;
    color: #303030;
    border-right: 1px solid #eaeaea; }
    footer dl dt {
      text-transform: uppercase;
      font-weight: bold;
      line-height: 30px;
      font-size: 14px; }
    footer dl dd {
      line-height: 25px;
      font-size: 12px; }
      footer dl dd a {
        text-decoration: none; }
    footer dl p {
      vertical-align: middle;
      display: inline-block;
      border: 1px solid #606060;
      box-sizing: border-box;
      width: 32px;
      height: 32px;
      text-align: center;
      padding: 9px 0;
      font-size: 14px;
      margin-right: 8px; }
      footer dl p a {
        color: #606060; }
    footer dl:first-child {
      padding-left: 0; }
    footer dl:last-child {
      border: none; }

.slider {
  margin-bottom: 48px;
  width: 100%; }
  .slider .wrapper {
    width: 95%;
    margin: 0 auto; }
    .slider .wrapper ul {
      width: 100%;
      height: 119px;
      background-color: #bbbbbb; }
      .slider .wrapper ul .left {
        display: inline-block;
        height: inherit;
        vertical-align: top;
        width: 30px;
        color: #ffffff;
        font-size: 30px; }
      .slider .wrapper ul li {
        display: inline-block;
        padding: 10px; }
        .slider .wrapper ul li img {
          display: inline-block;
          vertical-align: middle; }
      .slider .wrapper ul .right {
        float: right;
        display: inline-block;
        height: inherit;
        vertical-align: top;
        width: 30px;
        color: #ffffff;
        font-size: 30px; }

.gridpage {
  margin-top: 70px;
  width: 100%;
  text-align: center; }
  .gridpage .wrapper {
    width: 100%;
    margin: 0 auto; }
    .gridpage .wrapper h1 {
      text-transform: uppercase;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 22px; }
    .gridpage .wrapper a {
      font-family: georgia;
      font-style: italic;
      color: #bfbfbf;
      font-size: 18px; }
      .gridpage .wrapper a .fa {
        font-size: 10px; }
    .gridpage .wrapper .list {
      width: 100%;
      height: 463px; }
      .gridpage .wrapper .list ul li {
        margin: 63px 40px 33px 40px;
        display: inline-block;
        width: 206px;
        height: 333px; }
        .gridpage .wrapper .list ul li .li_container {
          border: 1px solid #e5e5e5;
          width: 206px;
          height: 257px; }
        .gridpage .wrapper .list ul li:first-child {
          margin-left: 0; }
        .gridpage .wrapper .list ul li:last-child {
          margin-right: 0; }
        .gridpage .wrapper .list ul li .details {
          color: #303030;
          margin-top: 33px; }
          .gridpage .wrapper .list ul li .details h4 {
            font-weight: bold;
            line-height: 2; }

/*@mixin responsive($smallerValue,$biggerValue) {
  @media (min-width: $smallerValue) and (max-width: $biggerValue) {
    @content;
  }
}


header {
	width: 100%;
	.wrapper {
		width:95%;
		margin:0 auto;
		input[id="bt_menu"] + label {
				background:#ccc;
				color: fff;
				padding: 5px;
				cursor: pointer;
				text-align: center;
				font-size: 30px;
				width: 50px;
				height: 50px;
			}	
		nav {
			height:116px;
			width: 100%;
			border-bottom:1px solid #e5e5e5;

			.basic{
				float: left;
				display: block;
				ul {
					li {
						font-size: 15px;
						display: inline-block;
						margin:0 15px;
						a{
							text-decoration: none;
							color: #303030;
							padding:13px;							
							&:hover {
								color:#fff;
								background:#222;
							}	
						}
						&:first-child {
							margin-left:0;
						}	
						&:last-child {
							margin-right: 0;
						}
						@include responsive(0,800px) {
							text-align: center;
							float: none;
							width: 100%;
							background:#cecece;
							line-height: 3;
							&:first-child {
							margin-left:15px;
							}
						}
					}
				}
			}
			.personal{
				display: block;
				a {
					margin: 25px;
					font-size: 14px;
					text-decoration:none;
					color: #303030;
					span {
						color: #f68236;
					}
				}						
				form {
					font-size: 0;
					margin-top: -18px;
					
				
					input {
						width:0;
						font-style: italic;
						transition: all 0.5s ease-in-out;
					}
					button {
						border: 1px solid #959595;
						background: #fff;
						-webkit-appearance: none;
	   					border-radius: 0;
						text-decoration:none;
						color: #606060;
						.fa {
							display: inline-block;
							padding: 13px 7px 7px 7px;
							font-size: 18px;
						}
					}
					&:hover {
						input {
							width:150px;
							margin-left:15px;
							display:inline-block;
							padding: 18px 15px 8px 10px;
							font-size:12px;
							border: 1px solid #959595;	
							border-right: none;
						}
						button {
							background: #606060;
							color: #fff;

						}
					}
				}
			}	
		}
	}
}*/
.breadcrumbs {
  text-transform: uppercase;
  font-size: 12px;
  width: 100%;
  margin-top: 30px; }
  .breadcrumbs .wrapper {
    width: 95%;
    margin: 0 auto; }
    .breadcrumbs .wrapper ul li {
      display: inline-block;
      padding: 0 13px; }
      .breadcrumbs .wrapper ul li a {
        text-decoration: none;
        color: #606060; }
      .breadcrumbs .wrapper ul li:first-child {
        padding-left: 0; }

.slider {
  margin-bottom: 48px;
  width: 100%; }
  .slider .wrapper {
    width: 95%;
    margin: 0 auto; }
    .slider .wrapper .lookbook {
      border-top: 1px solid #e5e5e5;
      margin-top: 70px; }
      .slider .wrapper .lookbook h3 {
        margin: 49px 0 60px 0;
        text-align: center;
        font-size: 24px;
        font-family: 'Georgia';
        font-style: italic;
        color: #606060; }
    .slider .wrapper ul {
      width: 100%;
      height: 119px;
      background-color: #bbbbbb; }
      .slider .wrapper ul .left {
        background: #e4e4e4;
        -webkit-appearance: none;
        border-radius: 0;
        display: inline-block;
        height: inherit;
        vertical-align: top;
        width: 30px;
        color: #ffffff;
        font-size: 30px; }
      .slider .wrapper ul li {
        display: inline-block;
        padding: 10px; }
        .slider .wrapper ul li img {
          display: inline-block;
          vertical-align: middle; }
      .slider .wrapper ul .right {
        background: #e4e4e4;
        -webkit-appearance: none;
        border-radius: 0;
        float: right;
        display: inline-block;
        height: inherit;
        vertical-align: top;
        width: 30px;
        color: #fff;
        font-size: 30px; }

/*body {
	font-size: 0;
}
header {
	.wrapper {

	}
		&:nth-child() {
			@include responsive(0,400px);
			display: none;
		}
}*/
html {
  background: #e5e5e5;
  width: 100%; }

body {
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  height: 100%;
  width: 92%;
  margin: 62px auto; }

textarea, input, button {
  outline: none;
  border: none; }
