header {
  width: 100%; }
  header .wrapper {
    width: 95%;
    margin: 0 auto; }
    header .wrapper input[id="bt_menu"] {
      display: none; }
    header .wrapper label {
      background: #ccc;
      color: fff;
      padding: 5px;
      cursor: pointer;
      text-align: center;
      font-size: 30px;
      width: 50px;
      height: 50px;
      display: none; }
      @media (min-width: 0) and (max-width: 800px) {
        header .wrapper label {
          display: block; } }
    header .wrapper nav {
      height: 116px;
      width: 100%;
      border-bottom: 1px solid #e5e5e5;
      padding: 54px 0 54px 0; }
      header .wrapper nav .basic {
        float: left;
        display: block; }
        header .wrapper nav .basic ul li {
          font-size: 15px;
          display: inline-block;
          margin: 0 21px; }
          header .wrapper nav .basic ul li a {
            text-decoration: none;
            color: #303030;
            padding: 14px; }
            header .wrapper nav .basic ul li a:hover {
              color: #fff;
              background: #222; }
            header .wrapper nav .basic ul li a:first-child {
              margin-left: 0; }
          @media (min-width: 0) and (max-width: 800px) {
            header .wrapper nav .basic ul li {
              text-align: center;
              float: none;
              width: 100%;
              background: #cecece;
              line-height: 3;
              margin-left: -100%; }
              header .wrapper nav .basic ul li input:checked {
                margin-left: 0; }
              header .wrapper nav .basic ul li:first-child {
                margin-left: -100%; } }
      header .wrapper nav .personal {
        display: block;
        float: right; }
        header .wrapper nav .personal a {
          margin: 25px;
          font-size: 14px;
          text-decoration: none;
          color: #303030; }
          header .wrapper nav .personal a span {
            color: #f68236; }
        header .wrapper nav .personal form {
          font-size: 0;
          float: right; }
          header .wrapper nav .personal form input {
            width: 0;
            font-style: italic;
            transition: all 0.5s ease-in-out; }
          header .wrapper nav .personal form button {
            border: 1px solid #959595;
            background: #fff;
            -webkit-appearance: none;
            border-radius: 0;
            text-decoration: none;
            color: #606060; }
            header .wrapper nav .personal form button .fa {
              display: inline-block;
              padding: 13px 7px 7px 7px;
              font-size: 18px; }
          header .wrapper nav .personal form:hover input {
            width: 150px;
            margin-left: 15px;
            display: inline-block;
            padding: 18px 15px 8px 10px;
            font-size: 12px;
            border: 1px solid #959595;
            border-right: none; }
          header .wrapper nav .personal form:hover button {
            background: #606060;
            color: #fff; }
