.vintage {
  width: 100%;
  font-size: 0;
  height: 600px;
  .image {
    width: 75%;
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  aside {
    font-size: 20px;
    height: 100%;
    width: 25%;
    display: inline-block;
    article {
      height: 100%;
      position:relative;
      padding:40px;
      text-align: center;
      i {
      color: #90d2b9;
      font-size: 30px;
      margin-bottom: 20px;
      display: block;
    }
      h2 {
      font-size: 18px;
      color: #353738;
      font-weight: 700;
      display: block;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
      color:#848789;
      line-height: 20px;
    }
      img {
        width: 100%;
        position: absolute;
        left:0;
        bottom: 0;
      }
    }
  }
}