@import '_reset';
@import '_font';
@import '_header';
@import '_intro';
@import '_hero';
@import '_vintage';

html {
	position: relative;
  	height: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  position: relative;
  height: 100%;
}

